<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <li class="menu-item sign-out">
    <%= link_to("Sign Out", "/users/sign_out", method: :delete) %>
  </li>
<% else %>
  <li class="menu-item sign-in">
    <%= link_to("Sign In", "/users/sign_in") %>
  </li>
  <li class="menu-item sign-up">
    <%= link_to("Sign Up", "/users/sign_up") %>
  </li>
<% end %>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Conta</th>
      <th>Senha</th>
      <th>Email</th>
      <th>Mensagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nome %></td>
        <td><%= client.conta %></td>
        <td><%= client.senha %></td>
        <td><%= client.email %></td>
        <td><%= client.mensagem %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
