<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @client.conta %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @client.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @client.mensagem %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
